{% extends "user/base.html" %}
{% block content %}
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>                
                <th>Students name</th>
                <th>Email</th>                
                <th>Marks</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
         <tr>           
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>      
                   
        </tr>
        {% endfor %}
       </tbody>
    </table>
    </div>
{% endblock content %}

