
{% extends "user/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <a class="ml-2" href="{% url 'profile-update' %}">Update Profile Info</a>
            {{ form|crispy }}
            
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
    </div>
{% endblock content %}